<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-amap-gd" version="1.0.3">
    <name>Amap</name>
    <description>Cordova Amap Navigator Location Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,amp,naviagtor</keywords>
    <js-module src="www/amap.js" name="amap">
        <clobbers target="amap" />
    </js-module>
    <preference name="ANDROID_KEY" />
    <preference name="IOS_KEY" />
      <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Amap">
                <param name="android-package" value="com.gd.amap.Amap" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="com.amap.api.v2.apikey" android:value="$ANDROID_KEY"/>
            <activity android:name="com.amap.api.navi.AmapRouteActivity"
              android:theme="@android:style/Theme.NoTitleBar"
              android:configChanges="orientation|keyboardHidden|screenSize" />
            <service android:name="com.amap.api.location.APSService"></service>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
            <uses-permission android:name="android.permission.WAKE_LOCK"/>
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
        </config-file>
        <source-file src="src/android/Amap.java" target-dir="src/com/gd/amap/" />
        <framework src="com.amap.api:navi-3dmap:latest.integration" />
        <framework src="com.amap.api:location:latest.integration" />
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Amap">
                <param name="ios-package" value="CDVAMap"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVAMap.h"/>
        <source-file src="src/ios/CDVAMap.m"/>
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>部分功能需要使用系统定位服务，请允许</string>
        </config-file>
        <config-file target="*-Info.plist" parent="AMapKey">
            <string>$IOS_KEY</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIBackgroundModes">
            <array>
                <string>location</string>
            </array>
        </config-file>
        <podspec>
            <config>
                 <source url="https://github.com/CocoaPods/Specs.git"/>
             </config>
            <pods >
                <pod name="AMapNavi" />
                <pod name="AMapLocation" />
            </pods>
        </podspec>
        <framework src="sdk/ios/AMapFoundationKit.framework" custom="true" />
    </platform>
</plugin>
